<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>		
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Способ хранения</string>
			<key>Key</key>
			<string>storage_method</string>
			<key>DefaultValue</key>
			<string>swift_data</string>
			<key>Values</key>
			<array>
				<string>swift_data</string>
				<string>core_data</string>
			</array>
			<key>Titles</key>
			<array>
				<string>SwiftData</string>
				<string>CoreData</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
